extends layout

block content
	div(class='container')
		nav( class="navbar navbar-default navbar-fixed-top")
			div(class='container')
				ul(class='nav navbar-nav')
					li
						a(href='/coffees', title='Home') Home
					li
						a(href='/coffees/add', title='Add') Add A Store
					li
						a(href='/coffees/displayall', title='Display All') Display All
		h2 Add a new Store
		form(method='post', enctype='multipart/form-data' class='container-fluid')
			div(class='col-md-6 col-md-offset-3' class='add')
				h2 Welcome!
				div(class='container-fluid')
					input(name='title', required, placeholder='Store Title')
				div(class='imageupload')
					label(for='coffee') Upload Shop Image
					input(type='file' accept="image/*" name='coffee')
				div(class='')
					textarea(name='description', required, placeholder='Description')
				div(class='')
					p Please paste an embed code from Google Maps into "location."
					input(name='location', required, placeholder='Location')
				div(class='')
					input(name='established', required, placeholder='Established')
				div
					h2 Add their Most Popular Flavours!
					input(name='coffeetypes', required, placeholder='Coffee Type 1')
					input(name='coffeetype2', required, placeholder='Coffee Type 2')
					input(name='coffeetype3', required, placeholder='Coffee Type 3')
				div
					h2 Hours
					table
						tr
							td Monday - Friday
							td 
								select(name='weekAm')
									option(value='select') Select
									option(value='Closed') Closed
									option(value='12am') 12am
									option(value='1am') 1am
									option(value='2am') 2am
									option(value='3am') 3am
									option(value='4am') 4am
									option(value='6am') 6am
									option(value='5am') 5am
									option(value='7am') 7am
									option(value='8am') 8am
									option(value='9am') 9am
									option(value='10am') 10am
									option(value='11am') 11am
							td -
							td 
								select(name='weekPm')
									option(value='select') Select
									option(value='Closed') Closed
									option(value='12pm') 12pm
									option(value='1pm') 1pm
									option(value='2pm') 2pm
									option(value='3pm') 3pm
									option(value='4pm') 4pm
									option(value='5pm') 5pm
									option(value='6pm') 6pm
									option(value='7pm') 7pm
									option(value='8pm') 8pm
									option(value='9pm') 9pm
									option(value='10pm') 10pm
									option(value='11pm') 11pm
						tr
							td Saturday
							td
								select(name='satAm')
									option(value='select') Select
									option(value='Closed') Closed
									option(value='12am') 12am
									option(value='1am') 1am
									option(value='2am') 2am
									option(value='3am') 3am
									option(value='4am') 4am
									option(value='6am') 6am
									option(value='5am') 5am
									option(value='7am') 7am
									option(value='8am') 8am
									option(value='9am') 9am
									option(value='10am') 10am
									option(value='11am') 11am
							td -
							td
								select(name='satPm')
									option(value='select') Select
									option(value='Closed') Closed
									option(value='12pm') 12pm
									option(value='1pm') 1pm
									option(value='2pm') 2pm
									option(value='3pm') 3pm
									option(value='4pm') 4pm
									option(value='5pm') 5pm
									option(value='6pm') 6pm
									option(value='7pm') 7pm
									option(value='8pm') 8pm
									option(value='9pm') 9pm
									option(value='10pm') 10pm
									option(value='11pm') 11pm
						tr
							td Sunday
							td
								select(name='sunAm')
									option(value='select') Select
									option(value='Closed') Closed
									option(value='12am') 12am
									option(value='1am') 1am
									option(value='2am') 2am
									option(value='3am') 3am
									option(value='4am') 4am
									option(value='6am') 6am
									option(value='5am') 5am
									option(value='7am') 7am
									option(value='8am') 8am
									option(value='9am') 9am
									option(value='10am') 10am
									option(value='11am') 11am
							td -
							td
								select(name='sunPm')
									option(value='select') Select
									option(value='Closed') Closed
									option(value='12pm') 12pm
									option(value='1pm') 1pm
									option(value='2pm') 2pm
									option(value='3pm') 3pm
									option(value='4pm') 4pm
									option(value='5pm') 5pm
									option(value='6pm') 6pm
									option(value='7pm') 7pm
									option(value='8pm') 8pm
									option(value='9pm') 9pm
									option(value='10pm') 10pm
									option(value='11pm') 11pm
				div
					h2 Contact Us
					input(name='email', type='email', required, placeholder='Email')
					input(name='phone', type='tel', required, placeholder='Phone')
				input(type='submit', value='Add Store' class='button')
