extends layout

block content
    div(class='container-fluid' class='splash')
        div(class='col-md-8' class='center')
            h1 Welcome!
            div(class='splashimage')
                img(src='/images/cup.png')
